@charset "utf-8";
/* CSS Document */
.carousel {
    height: 50%;
}

* {
 font-size: 100%;
 font-family: "Panton";
 letter-spacing: 1px;
}

a.hover, .btn-link:active, .btn-link:focus, .btn-link:hover {
  font-weight: bold;
}

.center h1 {
	margin-bottom:10px;
}

h1,h2,h3,h4,h5,h6 {
	line-height:1;
}
h1 {
	font-size:3em;
	letter-spacing:-2px;
	margin-bottom:30px;
	text-align:center;
}
h2 {
	font-size:1.2em;
	letter-spacing:-1px;
	margin-bottom:30px;
	text-align:center;
	font-weight:normal;
	color:LightGray;
}
p {
	font-size:1.1em;
	line-height:1.7em;
}
#logo {
	float:left;
	margin-right:100px;
	margin-right:100px;
	font-size:1.7em;
	color:white;
	text-transform:uppercase;
	letter-spacing:-1px;
	padding-top:10px;
	padding-left: 10px;
	padding-bottom: 0px;
	font-weight:bold;
}
#logo:hover {
	color:white;
	text-decoration:none;
}

.body-thumbnail {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
}

.box-texto {
  margin-left: 300px;
  margin-right: 300px;
}

.parceiros {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 16px;
}

footer {
	background:#2B2B2B;
	font-size:14px;
	color:#DCDADA;
}
footer h6 {
  font-size:14px;
  font-weight: bold;
  color: #E3C500;
}

	/* unvisited link */
.footer a:link {
	    color: white;
}
.footer a:hover {
	color:#E3C500;
  text-decoration: none;
  font-weight: bold;body { padding-top: 70px; }
}
	/* visited link */
.footer a:visited {
	color:#A5A5A6;
}

.social-footer{
  background: #E3C500;
  padding-top:5px;
  padding-bottom: 5px;
}

.rodape {
  background: #3E3D3D;
  padding-top:5px;
  padding-bottom:5px;
  text-align: center;
  color:#DCDADA;
  font-size: 11px;
}
.fotter-links {
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right: 20px;
}

.label-highlight {
  font-size: 100% !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  color: #333 !important;
  background: #fff401 !important;
}
div.pagination {
  text-align: center;
  display: block;
}
div.pagination ul {
  display: inline-block;
}

body {
  padding-top: 50px;
}
.alert, .alert.alert-notice, .alert.alert-alert {
  margin-bottom: 0px;
}

.panel-heading{
  text-align: center;
  font-weight: bold;
}

.form-panel.panel {
  align-content: center;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  border: 1px solid #DDD;
}

.btn-primary-partner  {
align-button: right;
}

.log-in.panel {
  align-content: center;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  border: none;
  font-weight: normal;
}

.btn.btn-facebook.form-control {
  font-weight: bold;
  color: white;
  background-color: DodgerBlue;
  &:hover {
    color: white;
    background-color: RoyalBlue;
  }
}

.btn.btn-google-plus.form-control{
  font-weight: bold;
  background-color: #DD4B39;
  color: white;
  &:hover {
    color: white;
    background-color: #b03123;
  }

}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image_url("login-bg.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  margin-bottom: 0px;
}

.btn-group-horizontal {
  align-content: flex-end;
}

.blockquote-seekat {
  font-size: 14px;
}

.partners {
  background-color:#E0E1E2;
  padding:30px;
}

.h3{
  text-decoration: strong; 
}
