@charset "utf-8";
/* CSS Document */

body {
  padding-top: 50px;
}

.carousel {
    height: 50%;
}

* {
 font-size: 100%;
 font-family: "Panton";
 letter-spacing: 1px;
}

a.hyperlink, a.hover, a.active, .a.focus, .a.hover {
  font-weight: bold;
  text-decoration: overline;

}


/* Space Between elemets*/

.space10 {
  margin-top: 10px;
}

.space30bu {
  margin-top: 20px;
}

.space40 {
  margin-top: 40px;
}

.space60 {
  margin-top: 60px;
}

.space80 {
  margin-top: 80px;
}

.space120 {
  margin-top: 120px;
}

.center h1 {
	margin-bottom:10px;
}

h1,h2,h3,h4,h5,h6 {
	line-height:1;
}

a {
  color: #3E3D3D;
  text-decoration: none;
}

a:hover {
  color: #3E3D3D;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
  padding-bottom: 30px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1.5px solid #e3c500;
  font-size: 14px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 3px solid #e3c500;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(227, 197, 0);
}

/*navbar logo seekat*/
#logo {
	float:left;
	margin-right:100px;
	margin-right:100px;
	font-size:1.7em;
	color:white;
	text-transform:uppercase;
	letter-spacing:-1px;
	padding-top:10px;
	padding-left: 10px;
	padding-bottom: 0px;
	font-weight:bold;
}
#logo:hover {
	color:white;
	text-decoration:none;
}

.body-thumbnail {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
}

.box-texto {
  margin-left: 300px;
  margin-right: 300px;
}

.parceiros {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 16px;
}

/* formating footer*/
footer {
	background:#2B2B2B;
	font-size:14px;
	color:#DCDADA;
}

footer h6 {
  font-size:14px;
  font-weight: bold;
  color: #E3C500;
}

	/* unvisited link */
.footer a:link {
	    color: white;
}
.footer a:hover {
	color:#E3C500;
  text-decoration: none;
  font-weight: 400;body { padding-top: 70px; }
}
	/* visited link */
.footer a:visited {
	color:#A5A5A6;
}

.social-footer{
  background: #E3C500;
  padding-top:5px;
  padding-bottom: 5px;
}

/* copyright seekat */
.copyright {
  background: #3E3D3D;
  height:40px;
  margin-bottom: 0px;
}

p.copyright {
  color:#DCDADA;
  font-size: 12px;
  text-align: center;
  padding-top:10px;
  padding-bottom:0px;
}

/* text footer about, partners, contact */
p.about{
  color:#E3C500;
  font-size: 12px;
  text-align: center;
  text-align: left;
  font-size: 14px;
  font-weight:400;
}

p.social-net{
  color:#E3C500;
  font-size: 18px;
  text-align: center;
  text-align: left;
  font-size: 14px;
  font-weight:400;
}

/* links footer about, partners, contact */
.footer-links {
  padding-top:30px;
  padding-bottom:30px;
  padding-left:20px;
  padding-right:20px;
  text-align: center;
  letter-spacing:2px;
  font-weight:300;
}

.label-highlight {
  font-size: 100% !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  color: #333 !important;
  background: #fff401 !important;
}

.pagination a, .pagination span.current, .pagination span.gap{
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
  border-color: #E3C500 !important;
  color: #3E3D3D !important;
}

.pagination {
  border-left: 1px solid #ddd;
  .active a{
    color: #3E3D3D !important;
    background-color: #E3C500 !important;
  }
}

body {
  padding-top: 50px;
}

.alert, .alert.alert-notice, .alert.alert-alert {
  margin-bottom: 0px;
}

.panel-heading {
  text-align: center;
  font-weight: bold;
}

.form-panel.panel {
  align-content: center;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  border: 1px solid #DDD;
}

.log-in.panel {
  align-content: center;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  border: none;
  font-weight: normal;
}

.btn.btn-facebook.form-control {
  font-weight: bold;
  color: white;
  background-color: DodgerBlue;
  &:hover {
    color: white;
    background-color: RoyalBlue;
  }
}

.btn.btn-google-plus.form-control {
  font-weight: bold;
  background-color: #DD4B39;
  color: white;
  &:hover {
    color: white;
    background-color: #b03123;
    }
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image_url("login-bg.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  margin-bottom: 0px;
}

.btn-group-horizontal {
  align-content: flex-end;
}

.blockquote-seekat {
  font-size: 14px;
}

.partners {
  background-color:#E0E1E2;
  padding:30px;
}

.btn-primary-highlights  {
  background-color: #E3C500;
  color: #3E3D3D;
  height: 50px;
  width: 360px;
  pointer-events: center;
  font-size: 18px;
  font-weight: bold;
}

.thumbnail {
  height: 500px;
  font-size:18px;
  font-style: bold;
  line-height:25px;
  text-align:center;
  padding:10px;
}

.thumbnail .img-responsive {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

.thumbnail.thumb-big {
  text-align: left;
  height: 780px;
  padding-top: 10px;
}

.thumbnail.thumb-med {
  text-align: left;
  height: 350px;
}

.thumbnail.thumb-small {
  text-align: left;
  height: 180px;
}

.row-search {
  margin-top: 70px;
}

.btn-search-home {
  width: 100%;
  background-color:#E3C500;
  color: #3E3D3D;
  font-size: 17px;
  font-weight: 500;
  border-width: 1px;
  border-color:#E0AB26;
}

.btn-search-home:hover {
  width: 100%;
  background-color:#F2D552;
  white-space: normal;
  color:#3E3D3D;
  border-width: 1px;
  border-color:#E0AB26;
  font-weight: bold;
  font-size: 17px;
}

.btn-sm-bnt-research {
  width: 100%;
  background-color:#E3C500;
  color: #3E3D3D;
  font-size: 15px;
  font-weight: 500;
  border-width: 1px;
  border-color:#E0AB26;
}

.btn-sm-bnt-research:hover {
  width: 100%;
  background-color:#F2D552;
  white-space: normal;
  color:#3E3D3D;
  border-width: 1px;
  border-color:#E0AB26;
  font-weight: bold;
  font-size: 15px;
}

p {
  color:#58595B;
  font-size:1.3em;
  line-height:1.7em;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:normal;
}

/* texts thumbnails home */
p.adv-big {
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.5px;
  font-weight: normal;
  color:#58595B;
  padding: 16px;
}

p.adv-medium {
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-weight: normal;
  padding: 20px;
  color:#58595B;
}

p.home-titles {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color:#234056;
  padding: 16px;
  margin-top: 75px;
}

p.home-titles-courses {
  color:#234056;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight: 500;
  margin:30px;
  margin-bottom: 15px;
}

p.home-titles-legenda {
  color:#58595B;
  font-size:1.0em;
  line-height:1.7em;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight: 400;
  font-style: italic;
  margin-left: 30px;
  margin-right: 30px;
}

p {
  color:#58595B;
  font-size:1.3em;
  line-height:1.7em;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:normal;
}

li {
  color:#58595B;
  font-size:1.3em;
  line-height:1.7em;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:normal;
}



.row-courses {
  padding-right: 30px;
  padding-top: 40px;
}

p.courses-text {
  color:#58595B;
  font-size:1.3em;
  line-height:1.7em;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:normal;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 60px;
}

p.courses-subtitles {
  color:#234056;
  font-size:28px;
  line-height:13px;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:500;
  margin-top: 60px;
  margin-bottom:10px;
  margin-left: 30px;
  margin-right: 30px;
}

p.carousel {
	font-size:3em;
	letter-spacing:1px;
	margin-bottom:30px;
	text-align:center;
  font-weight:400;
  color:LightGray;
}

.list-item {
  color:#58595B;
  font-size:1.3em;
  line-height:1.7em;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:normal;
  margin-top: 20px;
  margin-bottom:10px;
  margin-left: 30px;
  margin-right: 30px;
}

/*formatting hr in all site */

.divider {
  display: block;
  background:#E3C500;
  width: 100%;
  height: 5px;
  margin: 30px 0;
}

.divider-small {
  display: block;
  background:#E3C500;
  width: 100%;
  height: 0.5px;
  margin: 30px 0;
}

.divider-4px-yellow {
  display: block;
  background:#E3C500;
  width: 100%;
  height: 4px;
  margin-bottom: 20px;
}

.divider-2px-blue {
  display: block;
  background:#234056;
  width: 100%;
  height: 2px;
  margin-bottom: 20px;
}

/* formating panel couses*/
.panel.panel-info-courses {
  background-color:white;
  border-color: #E3C500;
}

.panel.panel-info-courses>.panel-heading {
  background-color: #E3C500 !important;
  border-color: #E3C500;
  font-weight: bold;
  font-size: 16px;
  height: 1px;
  margin: 0px;
}

p .invest {
  font-size: 40px;
  align-content: center;
  font-weight: 700;
}


/* sharing page at social networks*/

.btn-twitter {
    background: #00acee;
    border-radius: 3;
    color: #fff;
    font-style:normal;
}

.btn-twitter:link, .btn-twitter:visited {
    color: #fff;
}

.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff;
}
.btn-facebook {
    background: #3b5998;
    border-radius: 3;
    color: #fff;
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff;
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 3;
    color: #fff;
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff;
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff;
}

.btn-linkedin {
    background: #0e76a8;
    border-radius: 3;
    color: #fff;
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}

.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff;
}

.btn-sitename {
    background-color: #000;
    border-radius: 3;
    color: #fff;
}
.btn-sitename:link, .btn-sitename:visited {
    color: #fff;
}
.btn-sitename:active, .btn-sitename:hover {
    background-color: #000;
    color: #fff;
}

.share-social-medias {
  margin-bottom: 100px;
}

/* Color page group-item-research */
.header-sidebar {
  background-color:#E3C500;
  border-color: #E3C500;
  border-radius: 3px;
  border-color: inherit;
  color:#3E3D3D;
  height: 40px;
}

.badge {
  background-color:#E3C500;
  border-radius: 12px;
  color:#3E3D3D;
  margin-left: 10px;
}

.barside-top {
  background-color:#E3C500;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 0px;
}


p.subtitle-company {
  color:#234056;
  font-size:25px;
  line-height:8px;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:500;
  margin-top: 60px;
  margin-bottom:20px;
}

p.name-company {
  color:#234056;
  font-size:40px;
  line-height:8px;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:500;
  margin-top: 85px;
  margin-bottom:30px;
}

/* buttons page company comeback*/
.btn-company-back {
  width: 100%;
  background-color:#E3C500;
  color: #3E3D3D;
  font-size: 15px;
  font-weight: 500;
  border-width: 1px;
  border-color:#E0AB26;
}

.btn-company-back:hover {
  width: 100%;
  background-color:#F2D552;
  white-space: normal;
  color:#3E3D3D;
  border-width: 1px;
  border-color:#E0AB26;
  font-weight: bold;
  font-size: 15px;
}

/* buttons page company comeback*/
.btn-company-edit-back {
  width: 100%;
  background-color:#E3C500;
  color: #3E3D3D;
  font-size: 15px;
  font-weight: 500;
  border-width: 1px;
  border-color:#E0AB26;
}

.btn-company-edit-back:hover {
  width: 100%;
  background-color:#F2D552;
  white-space: normal;
  color:#3E3D3D;
  border-width: 1px;
  border-color:#E0AB26;
  font-weight: bold;
  font-size: 15px;
}
.glyphicon-remove {
  color:#EDCC45;
}

.glyphicon-remove:hover {
  color:#234056;
}


.btn-add {
  width: 100%;
}

.btn-delete {
  width:100%;
}

.btn-add-address {
  width: 60%;
}

.btn-delete-address {
  width:60%;
}

.btn-edit {
  width: 100%;
}

.btn-display-company {
  width: 100%;
}

.btn-back {
  width: 100%;
}

.btn-newpartner {
  width: 50%;
}

.bnt-allcourses {
  width: 50%;
  background-color:#E3C500;
  color: #3E3D3D;
  font-size: 15px;
  font-weight: 500;
  border-width: 1px;
  border-color:#E0AB26;
  padding-left: 2px;
}

.bnt-allcourses:hover {
  width: 50%;
  background-color:#F2D552;
  white-space: normal;
  color:#3E3D3D;
  border-width: 1px;
  border-color:#E0AB26;
  font-weight: bold;
  font-size: 15px;
}

.btn-search-result {
  padding-left: 26px;
}

/** pagination**/

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #e3c500;
  border-color: #337ab7;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #e0ab26;
  text-decoration: none;
  background-color: #fff;
  border: 1.2px solid #ddd;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  border: 1.2px solid #DDD;
  border-left-width: 0;
  border-color: #E3C500 !important;
  color: #3E3D3D !important;
}

.navbar-nav {
  color:#e6e7e8;
  font-size:11px;
  line-height:13px;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:bold;
  padding-top: 5px;
}

.title-icon {
  color:#234056;
  font-size:25px;
  line-height:8px;
  letter-spacing: 0.5px;
  text-align:left;
  font-weight:70;
  margin-top: 60px;
  margin-bottom:20px;
}

.title-perfil {
  background: #fff;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  align-items: center;
}

.perfil {
  background: #E3C500;
  height: 900px;
  padding-bottom: 100px;
  padding-top:100px;
  padding-right: 20px;
  padding-left: 20px;
}

.perfil-blue {
  background: #234056;
  height: 600px;
  padding-bottom: 60px;
  padding-top:60px;
  padding-right: 20px;
  padding-left: 20px;
  color:#fff;
}

.icon-perfil {
  align-items: center;
  margin: 20px;
}

background: #e6e7e8;
