@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

header {
	background: #262626;
	color: white;
	padding: 15px 15px 15px 15px;
	
}
header h1{
	margin:0;
	display:inline;
}

nav ul {
	margin: 0;
	display: inherit;
}

nav ul li {
	color: white;
	




