@charset "utf-8";
/* CSS Document */
<!DOCTYPE html>
<html>
<head>
<style> 
input[type=text] {
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px #262626;
    border-radius: 4px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#262626;
	align-self:flex-start;
}
</style>
</head>
<body>

<p>Text fields with borders:</p>

<form>
  <label for="fname">First Name</label>
  <input type="text" id="fname" name="fname">
  <label for="lname">Last Name</label>
  <input type="text" id="lname" name="lname">
</form>

</body>
</html>





<!DOCTYPE html>
<html>
<head>
<style> 
@font-face {
   font-family: panton;
   src: url(panton);
}

div {
   font-family: panton;
}
</style>
</head>
<body>

<div>
With CSS3, websites can finally use fonts other than the pre-selected "web-safe" fonts.
</div>

<p><b>Note:</b> Internet Explorer 8 and earlier, do not support the @font-face rule.</p>

</body>
</html>
